.header {
  background-color: darkcyan;
  color: azure;
  text-align: center;
}

.content {
  background-color: cornflowerblue;
  color: azure;
  font-weight: 700;
  border-radius: 5%;
  width: 10%;
}

.footer {
  background-color: darkcyan;
  color: azure;
  text-align: center;
}

.todo-conteudo {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}